/* Classic for TP */

.cc-floating.cc-theme-classic-tp {
  padding: 5px;
  border-radius: 5px;
}

.cc-floating.cc-theme-classic-tp.cc-message {
    display: block;
    font-weight: normal;
    margin-bottom: 1em;
    padding: 15px;
}

.cc-floating.cc-type-info.cc-theme-classic-tp .cc-compliance {
  text-align: center;
  display: inline;
  flex: none;
}

.cc-theme-classic-tp .cc-btn {
  border-radius: 5px;
  float: right;
  font-weight: normal;
}
.cc-theme-classic-tp .cc-btn:last-child {
  min-width: 140px;
}

.cc-floating.cc-type-info.cc-theme-classic-tp .cc-btn {
  display: inline-block;
}
